@keyframes "blink" {
 from {
   	opacity: 0.05;
 }
 to {
   	opacity: 0.95;
 }

}

@-moz-keyframes blink {
 from {
   opacity: 0.05;
 }
 to {
   opacity: 0.95;
 }

}

@-webkit-keyframes "blink" {
 from {
   opacity: 0.05;
 }
 to {
   opacity: 0.95;
 }

}

@-ms-keyframes "blink" {
 from {
   opacity: 0.05;
 }
 to {
   opacity: 0.95;
 }

}

@-o-keyframes "blink" {
 from {
   opacity: 0.05;
 }
 to {
   opacity: 0.95;
 }

}

@keyframes "hovering" {
 from {
    top: -10px;
   	box-shadow: 0 10px 10px rgba(0,0,0,0.7);
 }
 to {
    top: 0;
   	box-shadow: none;
 }

}

@-moz-keyframes hovering {
 from {
   top: -10px;
   box-shadow: 0 10px 10px rgba(0,0,0,0.7);
 }
 to {
   top: 0;
   box-shadow: none;
 }

}

@-webkit-keyframes "hovering" {
 from {
   top: -10px;
   box-shadow: 0 10px 10px rgba(0,0,0,0.7);
 }
 to {
   top: 0;
   box-shadow: none;
 }

}

@-ms-keyframes "hovering" {
 from {
   top: -10px;
   box-shadow: 0 10px 10px rgba(0,0,0,0.7);
 }
 to {
   top: 0;
   box-shadow: none;
 }

}

@-o-keyframes "hovering" {
 from {
   top: -10px;
   box-shadow: 0 10px 10px rgba(0,0,0,0.7);
 }
 to {
   top: 0;
   box-shadow: none;
 }

}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '   ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FF8000;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

body {
	font-family: Helvetica,Arial,sans-serif;
	/* background: url(woodfloor.jpg); */

	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 35%, rgba(0,0,0,0.9) 100%), url(woodfloor.jpg);
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 35%, rgba(0,0,0,0.9) 100%), url(woodfloor.jpg);
	background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 35%, rgba(0,0,0,0.9) 100%), url(woodfloor.jpg);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 35%, rgba(0,0,0,0.9) 100%), url(woodfloor.jpg);
	background: radial-gradient(center, ellipse cover, rgba(0,0,0,0) 35%, rgba(0,0,0,0.9) 100%), url(woodfloor.jpg);
}

.no-background {
	background: none;
}

.center {
	text-align: center;
}

.no-padding {
	padding: 0;
}

.thin-content {
	max-width: 500px;
	margin: 0 auto;
}

#game-page {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.screen-center {
	position: fixed;
	top: 40%;
	left: 50%;
	z-index: 99;
}

.fullscreen-wrapper>.screen-center {
	position: absolute;
}

.fullscreen-wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: transparent;
	display: none;
	z-index: 19999;
}

.happy-face {
	margin-left: -160px;
	margin-top: -120px;
}

.sad-face {
	margin-left: -105px;
	margin-top: -110px;
}

.game-ult {
	position: absolute;
}

header.game-ult {
	left: 50%;
	margin-left: -100px;
	width: 200px;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	top: 0;
	color: #9C5321;
	text-shadow: 0 1px 1px rgba(255,255,255,0.5), 0 -1px 1px rgba(0,0,0,0.5);
	font-family: Helvetica,Arial,sans-serif;
}

.thinking {
	top: 45px;
	margin-left: -132px;
	width: 240px;
	padding: 10px;
	display: none;
	background: white;
	border: 2px solid black;
	border-radius: 5px;

	box-shadow: 0 0 10px black;
	text-align: center;
	opacity: 0.8;

	-webkit-animation: thinking-glow 1s;
	-moz-animation: thinking-glow 1s;
	-ms-animation: thinking-glow 1s;
	-o-animation: thinking-glow 1s;
	animation: thinking-glow 1s;

	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-direction: alternate;
	-moz-animation-direction: alternate;
	-ms-animation-direction: alternate;
	-o-animation-direction: alternate;
	animation-direction: alternate;
}

.thinking>h4 {
	font-size: 2em;
	margin: 0;
	font-family: sans;
}

.game-title {
	width: 250px;
	margin: 0 auto;
	background: url(small-wood.jpg);
	border: none;

	-webkit-box-shadow: 0 0 10px black, inset 0 0 1px white;
	box-shadow: 0 0 10px black, inset 0 0 1px white;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

table.board,table.board td {
	border: 2px solid #CD7F32;
	border-collapse: collapse;
}

#game-region td {
	padding: 18px;
}

table.board td {
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255, 0.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255, 0.4);
}

table.board {
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.4);
	box-shadow: 0 1px 0 rgba(255,255,255, 0.4);
}

#game-region {
	position: absolute;
	padding: 24px;
	border-radius: 7px;
	background: url('woodfloor.jpg');

	-webkit-box-shadow: inset 0 0 3px white, 0 0 10px black;
	box-shadow: inset 0 0 3px white, 0 0 10px black;
	left: 50%;
	top: 50%;
        z-index: 999;
}

.go-board {
	position: absolute;
	top: 6px;
	left: 6px;
	right: 6px;
	bottom: 6px;
	border-spacing: 0;
	border-collapse: collapse;
	color: transparent;
}

.go-darkdot::before {
	content: ' ';
	background: black;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	margin-top: -5px;
	margin-left: -5px;
}

.go {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	left: 0;
}

.go-board .go-place.last-move>.go {
	box-shadow: inset 0 -2px 15px rgba(255,255,255,0.3), inset -2px -1px 40px rgba(10,10,10,0.4), 0 0 2px rgba(0,0,0,0.5), 0 0 10px 3px white !important;
}

#game-info>.go {
	border-radius: 1000px;
	display: block;
	float: left;
	height: 1em;
	width: 1em;
	margin-right: 0.2em;

	-webkit-transform: none !important;
	-moz-transform: none !important;
	-o-transform: none !important;
	-ms-transform: none !important;
	transform: none !important;
	position: static;
}

#game-info {
	text-align: left;
	text-shadow: none;
	font-size: 1.1em;
}

.blinking {
	-webkit-animation: blink 0.7s;
	-moz-animation: blink 0.7s;
	-ms-animation: blink 0.7s;
	-o-animation: blink 0.7s;
	animation: blink 0.7s;

	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	
	-webkit-animation-direction: alternate;
	-moz-animation-direction: alternate;
	-ms-animation-direction: alternate;
	-o-animation-direction: alternate;
	animation-direction: alternate;
}

.black.go-board.playing .go-place:not(.set):hover>.go,.go-board .go-place.black>.go,#game-info>.go.black {
	background: red;

	background: -webkit-radial-gradient(30% 25%, circle closest-corner, #777,#222);
	background: -moz-radial-gradient(30% 25%, circle closest-corner, #777,#222);
	background: -o-radial-gradient(30% 25%, circle closest-corner, #777,#222);
	background: -ms-radial-gradient(30% 25%, circle closest-corner, #777,#222);
	background: radial-gradient(30% 25%, circle closest-corner, #777,#222);

	-webkit-box-shadow: inset 0 -2px 15px rgba(255,255,255,0.3), inset -2px -1px 40px rgba(10,10,10,0.4), 0 0 2px rgba(0,0,0,0.5);
	box-shadow: inset 0 -2px 15px rgba(255,255,255,0.3), inset -2px -1px 40px rgba(10,10,10,0.4), 0 0 2px rgba(0,0,0,0.5);

	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
        background-image: url('../images/angel.gif');
        background-size: cover;
}

.white.go-board.playing .go-place:not(.set):hover>.go,.go-board .go-place.white>.go,#game-info>.go.white {
	background: white;

	background: -webkit-radial-gradient(30% 25%, circle closest-corner, #eee,#bbb);
	background: -moz-radial-gradient(30% 25%, circle closest-corner, #eee,#bbb);
	background: -o-radial-gradient(30% 25%, circle closest-corner, #eee,#bbb);
	background: -ms-radial-gradient(30% 25%, circle closest-corner, #eee,#bbb);
	background: radial-gradient(30% 25%, circle closest-corner, #eee,#bbb);

	-webkit-box-shadow: inset 0 -2px 15px rgba(255,255,255,0.3), inset -2px -1px 40px rgba(10,10,100,0.4), 0 0 2px rgba(0,0,0,0.5);
	box-shadow: inset 0 -2px 15px rgba(255,255,255,0.3), inset -2px -1px 40px rgba(10,10,100,0.4), 0 0 2px rgba(0,0,0,0.5);

	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
        background-image: url('../images/hermit.gif');
        background-size: cover;   
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.go-board .go-place.set>.go {
	top: 0;
}

.go-board.playing .go-place:not(.set):hover>.go {
	top: -10px;

	box-shadow: inset 0 -2px 15px rgba(255,255,255,0.3), inset -2px -1px 40px rgba(0,0,0,0.4), 0 10px 10px rgba(0,0,0,0.7) !important;
	opacity: 0.7;

	-webkit-animation: none !important;
	-moz-animation: none !important;
	-ms-animation: none !important;
	-o-animation: none !important;
	animation: none !important;
}

.warning>.go {
	-webkit-box-shadow: 0 0 20px red;
	box-shadow: 0 0 20px red;
	background: rgba(255,0,0,0.7);
	height: 100%;
	width: 100%;

	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);

	-webkit-animation: blink 1s;
	-moz-animation: blink 1s;
	-ms-animation: blink 1s;
	-o-animation: blink 1s;
	animation: blink 1s;

	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	
	-webkit-animation-direction: alternate;
	-moz-animation-direction: alternate;
	-ms-animation-direction: alternate;
	-o-animation-direction: alternate;
	animation-direction: alternate;
}
